{
  "rules": {
    "indentation": 4,
    "string-quotes": "single",
    "font-family-name-quotes": "always-where-recommended",
    "function-url-quotes": "always",
    "selector-no-id": true,
    "selector-list-comma-space-after": "never-single-line",
    "function-comma-space-after": "always",
    "declaration-colon-space-after": "always",
    "value-list-comma-space-after": "always",
    "declaration-block-trailing-semicolon": "always",
    "declaration-block-semicolon-newline-after": "always",
    "selector-list-comma-newline-after": "always",
    "rule-non-nested-empty-line-before": ["always", {"ignore": ["after-comment"]}],
    "function-max-empty-lines": 1,
    "block-no-single-line": true,
  }
}
